{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>
<body>
    <h1>Hello, World!</h1>
    <ul>
      {% if products %}
          {% for product in products %}
              <li>{{ product.name }} - ${{ product.price }} - Stock: {{ product.stock }}</li>
          {% endfor %}
      {% else %}
          <li>No products available.</li>
      {% endif %}
  </ul>
</body>
<h1>Hello, World!</h1>
<h1>Hello, World!</h1>
<h1>Hello, World!</h1>
<h1>Product List</h1>

</html>
<h1>Hello, World!</h1>
<table border="1">
    <tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
    <tr>
      <td>Alice</td>
      <td>25</td>
    </tr>
    <tr>
      <td>Ali</td>
      <td>20</td>
    </tr>
  </table>
  <form>
    <input type="text" placeholder="Enter your name">
    <button type="submit">Submit</button>
  </form>
  